@model Layer.Data.TblKategoriler
@{
	ViewData["Title"] = "Detay";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
	<h1>Kategori Detay</h1>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.KategoriId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.KategoriId)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.KategoriAdi)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.KategoriAdi)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.KategoriSeo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.KategoriSeo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UstKategoriId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UstKategoriId)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.EkleyenUyeId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EkleyenUyeId)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.EklenmeTarihi)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EklenmeTarihi)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Silik)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Silik)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.SilenUyeId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.SilenUyeId)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.SilmeTarihi)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.SilmeTarihi)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.GuncelleyenUyeId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.GuncelleyenUyeId)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.GuncellemeTarihi)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.GuncellemeTarihi)
		</dd>
	</dl>
</div>
<div>
	@Html.ActionLink("Düzenle", "Duzenle", new { id = Model.KategoriId }) |
	<a href="/Kategori">Listeye Dön</a>
</div>


